.flex-center{
    display: flex;
    justify-content: center;
}

#game-img{
    max-width: 100%;
    max-height: 600px;
    height: auto;
    box-shadow: 0 0 10px 5px rgba(16, 215, 200, 0.7);
    border-radius: 5px;
}
}

#object-table{
    width:400px;
    border: 3px solid;
    border-collapse: collapse;
}

thead{
    font-weight: bold;
}

#object-question{
    color: whitesmoke;
}

#object-in-question{
    display: inline-block;
    font-weight: bold;
}

#score-table{
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0 2px;
}

#score-table th{
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;
}

#score-table td{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    font-weight: normal;
    text-align: center;
    color: whitesmoke;
}

#countdown{
    font-size: 26px;
    font-weight: bold;
}